#password-form {
    max-width: 480px;
    margin: auto;
}

#toggle-new-pw-btn-1 {
    position:absolute;
    top: 45%;
    right: 4px;
    z-index: 9;
    outline: none !important;
    box-shadow: none;
}

#toggle-new-pw-btn-2 {
    position:absolute;
    top: 45%;
    right: 4px;
    z-index: 9;
    outline: none !important;
    box-shadow: none;
}